@model IEnumerable<Ovning_9.Models.ProductViewModel>

<h1>Inventory Overview</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Inventory Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price kr</td>
                <td>@item.Count</td>
                <td>@item.InventoryValue kr</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Back to Products</a>
